input {
  display: inline-block;
  margin: 0 auto;
  margin-top: 6px;
  width: 700px;
  height: 42px;
  text-align: center;
  font-size: 25px;
  /*border: 1px solid lightgrey;*/
  border-radius: 4px;
  box-shadow: 3px 3px 10px black;
  background: rgba(255, 255, 255, .35);
  font-family: 'Lobster', cursive;
}

.tool-bar {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  width: 815px;
  padding-top: 10px;
}

.tool-bar-bg {
  width: 100%;
  height: 80px;
  background-image: url("https://pixabay.com/static/uploads/photo/2015/09/05/23/12/blurry-926129_960_720.jpg");
  background-size: cover;
  border-bottom: 2px solid black;
  position: fixed;
  box-shadow: 3px 3px 10px black;
  color: white;
}
.logo {
  position: absolute;
  text-shadow: 3px 3px black;
  font-size: 40px;
  bottom: -9px;
  left: 15px;
}

body {
  font-family: 'Lobster', cursive;
  margin: 0px;
  background-color: black;
}

.image {
  display: inline-block;
  margin: 1px;
  background-size: cover;
  border: 1px solid black;
}

.button {
  width: 40px;
  height: 40px;
  float: right;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid lightgrey;
  margin: 5px;
  background-size: cover;
  opacity: 0.7;
  box-shadow: 3px 3px 10px black;
}

.hide {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 5px;
  color: 2673AB;
}

.blue {
  background-color: 2673AB;
}

.white {
  background-color: white;
}

.white-repeat {
  background-image: url("images/repeat-blue.png");
}

.white-clear {
  background-image: url("images/clear-blue.png");
}

.blue-repeat {
  background-image: url("images/repeat-white.png");
}

.blue-clear {
  background-image: url("images/clear-white.png");
}

.left {
  width: 50%;
  float: left;
  display: inline-block;
}

.right {
  width: 50%;
  float: right;
  display: inline-block;
}
